@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <title>Contact Cosmic</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/contact.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")"></script>
        <link rel="shortcut icon" sizes="114x114" href="@routes.Assets.versioned("images/favicon.ico")">
        <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>




    </head>

    <body>


        <div class="wrapper" >
            <header>

                <nav>

                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>

                    <div class="logo">

                        <img src="@routes.Assets.versioned("images/logo.png")" height="100vh" width="100%">

                    </div>

                    <div class="menu">
                        <ul>
                            <li><a href="@routes.HomeController.index()">Home</a></li>
                            <li><a href="@routes.HomeController.about()">About</a></li>
                            <li><a href="@routes.HomeController.services()">Services</a></li>

                        </ul>
                    </div>
                </nav>

            </header>

        </div>
         @content





    </body>

</html>