@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <title> / P \ </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/services.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")"></script>

        <link rel="shortcut icon" sizes="114x114" href="@routes.Assets.versioned("images/favicon.ico")">
        <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>




    </head>



    <body>

        <div class="wrapper" >
            <header>

                <nav>

                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>

                    <div class="logo">

                        <a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/logo.png")" height="100vh" width="100%"></a>


                    </div>

                    <div class="menu">
                        <ul>
                            <li><a href="@routes.HomeController.index()">Home</a></li>
                            <li><a href="@routes.HomeController.about()">About</a></li>
                            <li><a href="@routes.HomeController.services()">Services</a></li>
                            <li><a href="@routes.HomeController.contact()">Contact</a></li>
                        </ul>
                    </div>
                </nav>

            </header>

        </div>
        <div  id="sidenav1">
            <div id="leftmenuinner">
                <div  id="leftmenuinnerinner">

                    <h2>Menu</h2>
                    <div id = "ser">
                        <a target="_top" href="@routes.HomeController.a()">a</a>
                        <a target="_top" href="@routes.HomeController.b()">b</a>
                        <a target="_top" href="@routes.HomeController.c()">c</a>
                        <a target="_top" href="@routes.HomeController.d()">d</a>
                        <a target="_top" href="@routes.HomeController.e()">e</a>
                        <a target="_top" href="@routes.HomeController.f()">f</a>
                        <a target="_top" href="@routes.HomeController.g()">g</a>
                        <a target="_top" href="@routes.HomeController.h()">h</a>
                        <a target="_top" href="@routes.HomeController.i()">i</a>
                        <a target="_top" href="@routes.HomeController.j()">j</a>
                        <a target="_top" href="@routes.HomeController.k()">k</a>
                        <a target="_top" href="@routes.HomeController.l()">l</a>
                        <a target="_top" href="@routes.HomeController.m()">m</a>
                        <a target="_top" href="@routes.HomeController.n()">n</a>
                        <a target="_top" href="@routes.HomeController.o()">o</a>
                        <a target="_top" href="@routes.HomeController.p()">p</a>
                        <a target="_top" href="@routes.HomeController.q()">q</a>
                        <a target="_top" href="@routes.HomeController.r()">r</a>
                        <a target="_top" href="@routes.HomeController.s()">s</a>
                        <a target="_top" href="@routes.HomeController.t()">t</a>
                        <a target="_top" href="@routes.HomeController.u()">u</a>
                        <a target="_top" href="@routes.HomeController.v()">v</a>
                        <a target="_top" href="@routes.HomeController.w()">w</a>
                        <a target="_top" href="@routes.HomeController.x()">x</a>
                        <a target="_top" href="@routes.HomeController.y()">y</a>
                        <a target="_top" href="@routes.HomeController.z()">z</a>
                        <a target="_top" href="@routes.HomeController.a()">A</a>
                        <a target="_top" href="@routes.HomeController.b()">B</a>
                        <a target="_top" href="@routes.HomeController.c()">C</a>
                        <a target="_top" href="@routes.HomeController.d()">D</a>
                        <a target="_top" href="@routes.HomeController.e()">E</a>
                        <a target="_top" href="@routes.HomeController.f()">F</a>
                        <a target="_top" href="@routes.HomeController.g()">G</a>
                        <a target="_top" href="@routes.HomeController.h()">H</a>
                        <a target="_top" href="@routes.HomeController.i()">I</a>
                        <a target="_top" href="@routes.HomeController.j()">J</a>
                        <a target="_top" href="@routes.HomeController.k()">K</a>
                        <a target="_top" href="@routes.HomeController.l()">L</a>
                        <a target="_top" href="@routes.HomeController.m()">M</a>
                        <a target="_top" href="@routes.HomeController.n()">N</a>
                        <a target="_top" href="@routes.HomeController.o()">O</a>
                        <a target="_top" href="@routes.HomeController.p()">P</a>
                        <a target="_top" href="@routes.HomeController.q()">Q</a>
                        <a target="_top" href="@routes.HomeController.r()">R</a>
                        <a target="_top" href="@routes.HomeController.s()">S</a>
                        <a target="_top" href="@routes.HomeController.t()">T</a>
                        <a target="_top" href="@routes.HomeController.u()">U</a>
                        <a target="_top" href="@routes.HomeController.v()">V</a>
                        <a target="_top" href="@routes.HomeController.w()">W</a>
                        <a target="_top" href="@routes.HomeController.x()">X</a>
                        <a target="_top" href="@routes.HomeController.y()">Y</a>
                        <a target="_top" href="@routes.HomeController.z()">Z</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class = "content">
            <h2 style="color: #818181 ">
                <= P =>
            </h2><hr>
            <div class="fancy">
                <p>
                    P (named pee /piː/ ) is the 16th letter of the modern English alphabet and the ISO basic Latin alphabet.
                </p>
            </div>
            <br><br><br>



            <h2 style="color: #818181 ">
                History
            </h2><hr>

            <p>
                In English orthography and most other European languages, ⟨p⟩ represents the sound /p/.
                A common digraph in English is ⟨ph⟩, which represents the sound /f/, and can be used to transliterate ⟨φ⟩ phi in loanwords from Greek. In German, the digraph ⟨pf⟩ is common, representing a labial affricate /pf/.
            </p>
            <p>
                Most English words beginning with ⟨p⟩ are of foreign origin, primarily French, Latin, Greek, and Slavic;[citation needed] these languages preserve Proto-Indo-European initial *p. Native English cognates of such words often start with ⟨f⟩, since English is a Germanic language and thus has undergone Grimm's law; a native English word with initial /p/ would reflect Proto-Indo-European initial *b, which is so rare that its existence as a phoneme is disputed.
            </p>

            <p>
                However, native English words with non-initial ⟨p⟩ are quite common; such words can come from either Kluge's law or the consonant cluster /sp/ (PIE *p has been preserved after s).
                In the International Phonetic Alphabet, /p/ is used to represent the voiceless bilabial plosive.
            </p>


        </div>
        <br><br><br>


    </body>

</html>