@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <title> / Q \ </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/services.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")"></script>

        <link rel="shortcut icon" sizes="114x114" href="@routes.Assets.versioned("images/favicon.ico")">
        <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>




    </head>



    <body>

        <div class="wrapper" >
            <header>

                <nav>

                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>

                    <div class="logo">

                        <a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/logo.png")" height="100vh" width="100%"></a>


                    </div>

                    <div class="menu">
                        <ul>
                            <li><a href="@routes.HomeController.index()">Home</a></li>
                            <li><a href="@routes.HomeController.about()">About</a></li>
                            <li><a href="@routes.HomeController.services()">Services</a></li>
                            <li><a href="@routes.HomeController.contact()">Contact</a></li>
                        </ul>
                    </div>
                </nav>

            </header>

        </div>
        <div  id="sidenav1">
            <div id="leftmenuinner">
                <div  id="leftmenuinnerinner">

                    <h2>Menu</h2>
                    <div id = "ser">
                        <a target="_top" href="@routes.HomeController.a()">a</a>
                        <a target="_top" href="@routes.HomeController.b()">b</a>
                        <a target="_top" href="@routes.HomeController.c()">c</a>
                        <a target="_top" href="@routes.HomeController.d()">d</a>
                        <a target="_top" href="@routes.HomeController.e()">e</a>
                        <a target="_top" href="@routes.HomeController.f()">f</a>
                        <a target="_top" href="@routes.HomeController.g()">g</a>
                        <a target="_top" href="@routes.HomeController.h()">h</a>
                        <a target="_top" href="@routes.HomeController.i()">i</a>
                        <a target="_top" href="@routes.HomeController.j()">j</a>
                        <a target="_top" href="@routes.HomeController.k()">k</a>
                        <a target="_top" href="@routes.HomeController.l()">l</a>
                        <a target="_top" href="@routes.HomeController.m()">m</a>
                        <a target="_top" href="@routes.HomeController.n()">n</a>
                        <a target="_top" href="@routes.HomeController.o()">o</a>
                        <a target="_top" href="@routes.HomeController.p()">p</a>
                        <a target="_top" href="@routes.HomeController.q()">q</a>
                        <a target="_top" href="@routes.HomeController.r()">r</a>
                        <a target="_top" href="@routes.HomeController.s()">s</a>
                        <a target="_top" href="@routes.HomeController.t()">t</a>
                        <a target="_top" href="@routes.HomeController.u()">u</a>
                        <a target="_top" href="@routes.HomeController.v()">v</a>
                        <a target="_top" href="@routes.HomeController.w()">w</a>
                        <a target="_top" href="@routes.HomeController.x()">x</a>
                        <a target="_top" href="@routes.HomeController.y()">y</a>
                        <a target="_top" href="@routes.HomeController.z()">z</a>
                        <a target="_top" href="@routes.HomeController.a()">A</a>
                        <a target="_top" href="@routes.HomeController.b()">B</a>
                        <a target="_top" href="@routes.HomeController.c()">C</a>
                        <a target="_top" href="@routes.HomeController.d()">D</a>
                        <a target="_top" href="@routes.HomeController.e()">E</a>
                        <a target="_top" href="@routes.HomeController.f()">F</a>
                        <a target="_top" href="@routes.HomeController.g()">G</a>
                        <a target="_top" href="@routes.HomeController.h()">H</a>
                        <a target="_top" href="@routes.HomeController.i()">I</a>
                        <a target="_top" href="@routes.HomeController.j()">J</a>
                        <a target="_top" href="@routes.HomeController.k()">K</a>
                        <a target="_top" href="@routes.HomeController.l()">L</a>
                        <a target="_top" href="@routes.HomeController.m()">M</a>
                        <a target="_top" href="@routes.HomeController.n()">N</a>
                        <a target="_top" href="@routes.HomeController.o()">O</a>
                        <a target="_top" href="@routes.HomeController.p()">P</a>
                        <a target="_top" href="@routes.HomeController.q()">Q</a>
                        <a target="_top" href="@routes.HomeController.r()">R</a>
                        <a target="_top" href="@routes.HomeController.s()">S</a>
                        <a target="_top" href="@routes.HomeController.t()">T</a>
                        <a target="_top" href="@routes.HomeController.u()">U</a>
                        <a target="_top" href="@routes.HomeController.v()">V</a>
                        <a target="_top" href="@routes.HomeController.w()">W</a>
                        <a target="_top" href="@routes.HomeController.x()">X</a>
                        <a target="_top" href="@routes.HomeController.y()">Y</a>
                        <a target="_top" href="@routes.HomeController.z()">Z</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class = "content">
            <h2 style="color: #818181 ">
                <= Q =>
            </h2><hr>
            <div class="fancy">
                <p>
                    Q (named cue /kjuː/) is the 17th letter of the modern English alphabet and the ISO basic Latin alphabet. In nearly all languages using the Latin script it is a consonant, not a vowel.
                </p>
            </div>
            <br><br><br>



            <h2 style="color: #818181 ">
                History
            </h2><hr>

            <p>
                The Semitic sound value of Qôp was /q/ (voiceless uvular stop), and the form of the letter could have been based on the eye of a needle, a knot, or even a monkey with its tail hanging down. /q/ is a sound common to Semitic languages, but not found in many European languages.[a] Some have even suggested that the form of the letter Q is even more ancient: it could have originated from Egyptian hieroglyphics.
            </p>
            <p>
                In Greek, qoppa (Ϙ) probably came to represent several labialized velar stops, among them /kʷ/ and /kʷʰ/. As a result of later sound shifts, these sounds in Greek changed to /p/ and /pʰ/ respectively. Therefore, qoppa was transformed into two letters: qoppa, which stood for the number 90, and phi (Φ), which stood for the aspirated sound /pʰ/ that came to be pronounced /f/ in Modern Greek.
            </p>

            <p>
                The Etruscans used Q in conjunction with V to represent /kʷ/, and this usage was copied by the Romans with the rest of their alphabet. In the earliest Latin inscriptions, the letters C, K and Q were all used to represent the two sounds /k/ and /ɡ/, which were not differentiated in writing. Of these, Q was used before a rounded vowel (e.g. ⟨EQO⟩ 'ego'), K before /a/, and C elsewhere. Later, the use of C (and its variant G) replaced most usages of K and Q: Q survived only to represent /k/ when immediately followed by a /w/ sound.
            </p>


        </div>
        <br><br><br>


    </body>

</html>