@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <title> / W \ </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/services.css")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")"></script>

        <link rel="shortcut icon" sizes="114x114" href="@routes.Assets.versioned("images/favicon.ico")">
        <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>




    </head>



    <body>

        <div class="wrapper" >
            <header>

                <nav>

                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>

                    <div class="logo">

                        <a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/logo.png")" height="100vh" width="100%"></a>


                    </div>

                    <div class="menu">
                        <ul>
                            <li><a href="@routes.HomeController.index()">Home</a></li>
                            <li><a href="@routes.HomeController.about()">About</a></li>
                            <li><a href="@routes.HomeController.services()">Services</a></li>
                            <li><a href="@routes.HomeController.contact()">Contact</a></li>
                        </ul>
                    </div>
                </nav>

            </header>

        </div>
        <div  id="sidenav1">
            <div id="leftmenuinner">
                <div  id="leftmenuinnerinner">

                    <h2>Menu</h2>
                    <div id = "ser">
                        <a target="_top" href="@routes.HomeController.a()">a</a>
                        <a target="_top" href="@routes.HomeController.b()">b</a>
                        <a target="_top" href="@routes.HomeController.c()">c</a>
                        <a target="_top" href="@routes.HomeController.d()">d</a>
                        <a target="_top" href="@routes.HomeController.e()">e</a>
                        <a target="_top" href="@routes.HomeController.f()">f</a>
                        <a target="_top" href="@routes.HomeController.g()">g</a>
                        <a target="_top" href="@routes.HomeController.h()">h</a>
                        <a target="_top" href="@routes.HomeController.i()">i</a>
                        <a target="_top" href="@routes.HomeController.j()">j</a>
                        <a target="_top" href="@routes.HomeController.k()">k</a>
                        <a target="_top" href="@routes.HomeController.l()">l</a>
                        <a target="_top" href="@routes.HomeController.m()">m</a>
                        <a target="_top" href="@routes.HomeController.n()">n</a>
                        <a target="_top" href="@routes.HomeController.o()">o</a>
                        <a target="_top" href="@routes.HomeController.p()">p</a>
                        <a target="_top" href="@routes.HomeController.q()">q</a>
                        <a target="_top" href="@routes.HomeController.r()">r</a>
                        <a target="_top" href="@routes.HomeController.s()">s</a>
                        <a target="_top" href="@routes.HomeController.t()">t</a>
                        <a target="_top" href="@routes.HomeController.u()">u</a>
                        <a target="_top" href="@routes.HomeController.v()">v</a>
                        <a target="_top" href="@routes.HomeController.w()">w</a>
                        <a target="_top" href="@routes.HomeController.x()">x</a>
                        <a target="_top" href="@routes.HomeController.y()">y</a>
                        <a target="_top" href="@routes.HomeController.z()">z</a>
                        <a target="_top" href="@routes.HomeController.a()">A</a>
                        <a target="_top" href="@routes.HomeController.b()">B</a>
                        <a target="_top" href="@routes.HomeController.c()">C</a>
                        <a target="_top" href="@routes.HomeController.d()">D</a>
                        <a target="_top" href="@routes.HomeController.e()">E</a>
                        <a target="_top" href="@routes.HomeController.f()">F</a>
                        <a target="_top" href="@routes.HomeController.g()">G</a>
                        <a target="_top" href="@routes.HomeController.h()">H</a>
                        <a target="_top" href="@routes.HomeController.i()">I</a>
                        <a target="_top" href="@routes.HomeController.j()">J</a>
                        <a target="_top" href="@routes.HomeController.k()">K</a>
                        <a target="_top" href="@routes.HomeController.l()">L</a>
                        <a target="_top" href="@routes.HomeController.m()">M</a>
                        <a target="_top" href="@routes.HomeController.n()">N</a>
                        <a target="_top" href="@routes.HomeController.o()">O</a>
                        <a target="_top" href="@routes.HomeController.p()">P</a>
                        <a target="_top" href="@routes.HomeController.q()">Q</a>
                        <a target="_top" href="@routes.HomeController.r()">R</a>
                        <a target="_top" href="@routes.HomeController.s()">S</a>
                        <a target="_top" href="@routes.HomeController.t()">T</a>
                        <a target="_top" href="@routes.HomeController.u()">U</a>
                        <a target="_top" href="@routes.HomeController.v()">V</a>
                        <a target="_top" href="@routes.HomeController.w()">W</a>
                        <a target="_top" href="@routes.HomeController.x()">X</a>
                        <a target="_top" href="@routes.HomeController.y()">Y</a>
                        <a target="_top" href="@routes.HomeController.z()">Z</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                        <a target="_top" href="#">---</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class = "content">
            <h2 style="color: #818181 ">
                <= W =>
            </h2><hr>
            <div class="fancy">
                <p>
                    W (named double-u, plural double-ues) is the 23rd letter of the modern English and ISO basic Latin alphabets.
                </p>
            </div>
            <br><br><br>



            <h2 style="color: #818181 ">
                History
            </h2><hr>

            <p>
                The sounds /w/ (spelled ⟨V⟩) and /b/ (spelled ⟨B⟩) of Classical Latin developed into a bilabial fricative /β/ between vowels in Early Medieval Latin. Therefore, ⟨V⟩ no longer adequately represented the labial-velar approximant sound /w/ of Germanic phonology.
                The Germanic /w/ phoneme was therefore written as ⟨VV⟩ or ⟨uu⟩ (⟨u⟩ and ⟨v⟩ becoming distinct only by the Early Modern period) by the earliest writers of Old English and Old High German, in the 7th or 8th centuries. Gothic (not Latin-based), by contrast, had simply used a letter based on the Greek Υ for the same sound in the 4th century. The digraph ⟨VV⟩/⟨uu⟩ was also used in Medieval Latin to represent Germanic names, including Gothic ones like Wamba.
            </p>
            <p>
                It is from this ⟨uu⟩ digraph that the modern name "double U" derives. The digraph was commonly used in the spelling of Old High German, but only in the earliest texts in Old English, where the /w/ sound soon came to be represented by the runic ⟨Ƿ⟩ wynn. In early Middle English, following the 11th-century Norman Conquest, ⟨uu⟩ gained popularity again and by 1300 it had taken wynn's place in common use.
                Scribal realization of the digraph could look like a pair of Vs whose branches crossed in the middle. An obsolete, cursive form found in the nineteenth century in both English and German was in the form of an ⟨n⟩ whose rightmost branch curved around as in a cursive ⟨v⟩.
            </p>

            <p>
                The shift from the digraph ⟨VV⟩ to the distinct ligature ⟨W⟩ is thus gradual, and is only apparent in abecedaria, explicit listings of all individual letters. It was probably considered a separate letter by the 14th century in both Middle English and Middle German orthography, although it remained an outsider, not really considered part of the Latin alphabet proper, as expressed by Valentin Ickelshamer in the 16th century, who complained that:
                Poor w is so infamous and unknown that many barely know either its name or its shape, not those who aspire to being Latinists, as they have no need of it, nor do the Germans, not even the schoolmasters, know what to do with it or how to call it; some call it we, [... others] call it uu, [...] the Swabians call it auwawau
            </p>
            <p>
                In Middle High German (and possibly already in late Old High German), the West Germanic phoneme /w/ became realized as [v]; this is why, today, the German ⟨w⟩ represents that sound. There is no phonological distinction between [w] and [v] in contemporary German.
            </p>

        </div>
        <br><br><br>


    </body>

</html>