@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <title> / Z \ </title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/services.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")"></script>

        <link rel="shortcut icon" sizes="114x114" href="@routes.Assets.versioned("images/favicon.ico")">
        <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>




    </head>

    <body>


        <div class="wrapper" >
            <header>

                <nav>

                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>

                    <div class="logo">

                        <a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/logo.png")" height="100vh" width="100%"></a>


                    </div>

                    <div class="menu">
                        <ul>
                            <li><a href="@routes.HomeController.index()">Home</a></li>
                            <li><a href="@routes.HomeController.about()">About</a></li>
                            <li><a href="@routes.HomeController.services()">Services</a></li>
                            <li><a href="@routes.HomeController.contact()">Contact</a></li>
                        </ul>
                    </div>
                </nav>

            </header>

        </div>



        <div class="ser">
            <h2>Menu</h2>
            <a target="_top" href="@routes.HomeController.a()">a</a><br>
            <a target="_top" href="@routes.HomeController.b()">b</a><br>
            <a target="_top" href="@routes.HomeController.c()">c</a><br>
            <a target="_top" href="@routes.HomeController.d()">d</a><br>
            <a target="_top" href="@routes.HomeController.e()">e</a><br>
            <a target="_top" href="@routes.HomeController.f()">f</a><br>
            <a target="_top" href="@routes.HomeController.g()">g</a><br>
            <a target="_top" href="@routes.HomeController.h()">h</a><br>
            <a target="_top" href="@routes.HomeController.i()">i</a><br>
            <a target="_top" href="@routes.HomeController.j()">j</a><br>
            <a target="_top" href="@routes.HomeController.k()">k</a><br>
            <a target="_top" href="@routes.HomeController.l()">l</a><br>
            <a target="_top" href="@routes.HomeController.m()">m</a><br>
            <a target="_top" href="@routes.HomeController.n()">n</a><br>
            <a target="_top" href="@routes.HomeController.o()">o</a><br>
            <a target="_top" href="@routes.HomeController.p()">p</a><br>
            <a target="_top" href="@routes.HomeController.q()">q</a><br>
            <a target="_top" href="@routes.HomeController.r()">r</a><br>
            <a target="_top" href="@routes.HomeController.s()">s</a><br>
            <a target="_top" href="@routes.HomeController.t()">t</a><br>
            <a target="_top" href="@routes.HomeController.u()">u</a><br>
            <a target="_top" href="@routes.HomeController.v()">v</a><br>
            <a target="_top" href="@routes.HomeController.w()">w</a><br>
            <a target="_top" href="@routes.HomeController.x()">x</a><br>
            <a target="_top" href="@routes.HomeController.y()">y</a><br>
            <a target="_top" href="@routes.HomeController.z()">z</a><br>
            <a target="_top" href="#">A</a><br>
            <a target="_top" href="#">B</a><br>
            <a target="_top" href="#">C</a><br>
            <a target="_top" href="#">D</a><br>
            <a target="_top" href="#">E</a><br>
            <a target="_top" href="#">F</a><br>
            <a target="_top" href="#">G</a><br>
            <a target="_top" href="#">H</a><br>
            <a target="_top" href="#">I</a><br>
            <a target="_top" href="#">J</a><br>
            <a target="_top" href="#">K</a><br>
            <a target="_top" href="#">L</a><br>
            <a target="_top" href="#">M</a><br>
            <a target="_top" href="#">N</a><br>
            <a target="_top" href="#">O</a><br>
            <a target="_top" href="#">P</a><br>
            <a target="_top" href="#">Q</a><br>
            <a target="_top" href="#">R</a><br>
            <a target="_top" href="#">S</a><br>
            <a target="_top" href="#">T</a><br>
            <a target="_top" href="#">U</a><br>
            <a target="_top" href="#">V</a><br>
            <a target="_top" href="#">W</a><br>
            <a target="_top" href="#">X</a><br>
            <a target="_top" href="#">Y</a><br>
            <a target="_top" href="#">Z</a><br><br><br>
        </div>




    </body>

</html>